<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-8">
            <h3>This is user's credit info</h3>
          <div class="alert alert-success alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <h4><strong>Success!</strong> You have successfully update your data... </h4>
          </div>
            
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
    
        <br>
        <br>
        <br>
        <br>
</div>