<div class="container">
  <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
          <h4><marquee>রাত ১০টা থেকে ১১টা পর্যন্ত সার্ভার বন্ধ থাকায়  এই সময়ে সাইটটি ব্যবহার করা যাবে না। 
          সাময়িক অসুবিধার জন্য আন্তরিকভাবে দুঃখিত।</marquee></h4>
      </div>
      <br>
      <div class="col-sm-3">
          
      </div>
      <div class="col-sm-6">
          
          <div class="alert alert-success alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <h4><strong>Success!</strong></h4>
          </div>
          
      </div>
      
      <div class="col-sm-3">

      </div>
  </div>
  <div class="row">

      <h3 style="text-align: center;">User's cost info </h3>
      <div class="col-sm-3"> </div>
      <div class="col-sm-6">
          <form action="/info" method="POST">
              
              <div class="form-group">
                  <label>Date</label>
                  <input id="start_date" type="date" required="" class="form-control" placeholder="Select Date..." name="day">
              </div>

              <div class="form-group">
                  <label>Select Month</label>
                  <br>
                  <select name="month" required="">
                      <option value="">Select a Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">Augest</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                  </select>
              </div>

              
              <div class="form-group">
                  <label>Item</label>
                  <input type="text" required="" class="form-control" placeholder="Enter Item Name..." name="item">
              </div>

              <div class="form-group">
                  <label>Cost</label>
                  <input type="text" required="" class="form-control" placeholder="Enter Item's Cost..." name="cost">
              </div>
              
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
      <div class="col-sm-3">

      </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">

      <h3 style="text-align: center;">User's Debit Info</h3>
      <div class="col-sm-3"> </div>
      <div class="col-sm-6">
          <form action="/debit" method="POST">
              <div class="form-group">
                  <label> Select Date</label>
                  <input id="start_date-dr" type="date" required="" class="form-control" placeholder="Select Date..." name="day">
              </div>
              
              <div class="form-group">
                  <label>Debiter's Name</label>
                  <input type="text" required="" class="form-control" placeholder="Enter debiter's Name..." name="name">
              </div>

              <div class="form-group">
                  <label>Amount</label>
                  <input type="text" required="" class="form-control" placeholder="Enter debit Cost..." name="cost">
              </div>
              
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
      <div class="col-sm-3">

      </div>
  </div>
  <br>
  <br>
  <br>

  <div class="row">

      <h3 style="text-align: center;">User's Credit Info</h3>
      <div class="col-sm-3"> </div>
      <div class="col-sm-6">
          <form action="/credit" method="POST">
              <div class="form-group">
                  <label>Select Date</label>
                  <input id="start_date-cr" type="date" required="" class="form-control" placeholder="Select Date..." name="day">
              </div>
              
              <div class="form-group">
                  <label>Crediter's Name</label>
                  <input type="text" required="" class="form-control" placeholder="Enter crediter's Name..." name="name">
              </div>

              <div class="form-group">
                  <label>Amount</label>
                  <input type="text" required="" class="form-control" placeholder="Enter credit Cost..." name="cost">
              </div>
              
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
      </div>
      <div class="col-sm-3">

      </div>
  </div>


      <br>
      <br>
      <br>
      <br>
      <br>
</div>