<div class="container">
  <div class="nub">
      <h2>THE NUB</h2>
  </div>
  <div class="nub">
      <h3>I love Programming</h3>
  </div>
  <div>
      <p style="text-align: justify; font-size: 18px;">
          I am Sahahabuddin ahmed. I am studing of University of Rajshahi in Dept. of CSE in 4th year student. Actually I make this website to track of monthly cost. In naturally when we spend, We don't count our balance. By using this website anyone can easily A/C and reduce own balance. Whatever this idea is given by my beloved aunt <strong>Sabina Yasmin</strong>. Lets go start and have a great day for you.
      </p>
      <br>
      <br>
      <br>
  </div>
  
</div>